{
    "statuses": [
        {
            "created_at": "Sat Sep 07 04:00:10 +0000 2013",
            "id": 376193146998112260,
            "text": "Adobe #ColdFusion Roadmap: Tracking the Future Directions http://t.co/Eh9uUHJEUH",
            "user": {}
        },
        {
            "created_at": "Sat Sep 07 03:55:03 +0000 2013",
            "id": 376191859149656060,
            "text": "Explore the Benefits of #ColdFusion Web Hosting for E-Commerce Web Sites http://t.co/80dwhHnmZ1",
            "user": {}
        }
    ],
    "search_metadata": {
        "completed_in": 0.009,
        "max_id": 376193146998112260,
        "max_id_str": "376193146998112256",
        "next_results": "?max_id=376191859149656063&q=coldfusion&count=2&include_entities=1", // HERE IS ONE
        "query": "coldfusion",
        "refresh_url": "?since_id=376193146998112256&q=coldfusion&include_entities=1", // HERE IS ONE
        "count": 2,
        "since_id": 0,
        "since_id_str": "0"
    }
}